*.iml
.gradle/
/local.properties
.idea/
*.apk
*.aab
/build/
/app/build/
/captures
.externalNativeBuild/
.cxx/
.DS_Store
*.log
node_modules/
dist/
.env*
!.env.example
.cache/
app/google-services.json
*.png
!app/src/main/res/**/*.png
keystore/
